.fileListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fileListContainer > div {
  display: flex;
  justify-content: space-evenly;
  width: 17vw;
}

.fileListContainer > div > button {
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  padding: 0.2rem;
  margin-top: 5px;
  width: 7.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileListContainer > div > button > img {
  margin-right: 0.5rem;
  /* didn't make icons here any bigger to avoid them getting blurry */
}

#fileList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 585px;
  margin-top: 8px;
}

.fileListItem {
  height: 3rem;
  display: flex;
  align-items: center;
}

.fileListItem:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

.fileListItem > p:nth-child(1) {
  width: 14px;
  font-size: 10px;
  text-align: center;
}

.fileListItem > p:nth-child(3) {
  margin-left: 0.8rem;
  font-family: 5px;
  font-size: 14px;
}

.fileListItem > div {
  background-color: #b9b9b9;
  padding: 0.2rem;
}

.fileListItem > div > img {
  height: 1.2rem;
  width: auto;
}

.arrowDownIcon {
  max-width: 0.7rem;
  margin-top: 9px;
  cursor: pointer;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #ececec;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* colour part */

.colourCorrection {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colourCorrection > p:nth-child(1) {
  margin-bottom: 10px;
}

.toolText {
  font-size: 12px;
  font-weight: 600;
}

input[type="range"] {
  width: 100%;
  accent-color: #ff6600;
  -webkit-appearance: none;
  background: transparent;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: #c7c5c5;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 2px;
}

input[type="range"].hue::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    lime,
    cyan,
    blue,
    magenta,
    red
  );
  height: 6px;
  border-radius: 2px;
}

input[type="range"].saturation::-webkit-slider-runnable-track {
  background: linear-gradient(to right, lightgray, red);
  height: 6px;
  border-radius: 2px;
}

input[type="range"].lightness::-webkit-slider-runnable-track {
  background: linear-gradient(to right, black, gray, white);
  height: 6px;
  border-radius: 2px;
}

/* "footer" part */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerImg {
  height: 3.5rem;
  width: 5.5rem;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerImg > img {
  height: 2.5rem;
}

/* export popup */

.exportPopup {
  background-color: white;
  position: absolute;
  top: 15%;
  left: 25%;
  z-index: 9999;
  width: 720px;
  height: 456px;
}

.exportPopupBackground {
  /* display: none; */
  display: block;
  background-color: #0a0a0a53;
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.visible {
  display: block;
}

.exportPopup > p {
  font-size: 12px;
  font-weight: 600;
  margin: 1rem;
}

.saveBox {
  flex-direction: column;
  padding: 0.5rem 2rem 2rem;
  display: flex;
  gap: 0.5rem;
}

.saveBox > div {
  display: flex;
  gap: 8px;

  p {
    margin-left: 3rem;
    margin-right: 1rem;
    color: #999999;
    font-size: 14px;
  }
}

.fileInput {
  background-color: #c7c5c5;
  padding: 0 10px;
  cursor: pointer;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #555555a4;
  margin: 8px auto 5px;
}
