* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
}

body {
  font-family: "Inter";
  margin: 0 20px;
}

button {
  cursor: pointer;
  padding: 0.2rem 1.1rem;
  border-radius: 10px;
  background-color: #fdfdfd;
  border: 1px solid #999999;
}

.noImgFound {
  width: 35%;
}

header {
  width: 100%;
  padding: 0.5rem;
  background-color: #ececec;
  display: flex;
  gap: 2rem;
  padding-left: 2rem;
  margin-bottom: 8px;
}

.contentContainer {
  height: 84vh;
  display: flex;
  gap: 8px;
  margin: auto 3px;
}

.content {
  height: 79.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
}

.layoutSelectionContainer {
  height: 30px;
  background-color: #ececec;
  color: #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.layoutSelectionContainer > div {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layoutSelectionContainer > div > img {
  height: 1.2rem;
  cursor: pointer;
}

.fileListContainer {
  background-color: #ececec;
  width: 17vw;
}

.mainContentContainer {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .toolsContainer {
  width: 18vw;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: space-between;
}

.toolsContainer > div:nth-child(1) {
  height: 28vh;
  background-color: #ececec;
}

.toolsContainer > div:nth-child(2) {
  height: 28vh;
  background-color: #ececec;
}

.toolsContainer > div:nth-child(3) {
  height: 23vh;
  background-color: #ececec;
}

.toolsContainer > div:nth-child(4) {
  height: 4vh;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 9vh;
} */

footer {
  height: 11.5vh;
  margin-top: 6px;
  background-color: #ececec;
}

footer > div {
  height: 10vh;
  display: flex;
  gap: 9px;
}

footer > div > img {
  height: inherit;
}
